*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Settings Files #
.settings
.project
.classpath

# Maven #
target/
pom.xml.versionsBackup

# IntelliJ Settings Files (https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems) #
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/libraries/
*.iml

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX1+GnN6UuR3XlBc8sacryowqZzJ9QYicthkYER5fub5hKkEEb008ah59
5rh4RvhTJb7UbYFm+rSDbQX0Tad2O2jAbMvVFjT82uE=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###_VIRTUALSAFE_CHANGE_TRACKING_START_###
U2FsdGVkX1+nOk0pVso+HYnRPxyFZol0yZE0RzqR9dmBMGiHz1MqHm+B/hAWRXWp
D6iWyC0yrexnZPUJ7gyPR4IEZhhhSF7d2636C0Y2HIg=
###_VIRTUALSAFE_CHANGE_TRACKING_END_###
CUSTOM*
*.bak
